.nav-item:hover {
    background-color: #2a3948;
}

.nav-item > .nav-link {
    color: #abb2b9;
}

.nav-item > a.nav-link:hover, .nav-item > a.nav-link.active {
    color: #fff;
}

ul.sub-items {
  list-style: none;
  padding-left: 0;
}

.sub-items > .sub-item > a {
  padding-left: 30px;
}
