<app-loading-modal *ngIf="!_matrix">
</app-loading-modal>
<ngb-tabset type="pills">
  <ngb-tab title="Categories">
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div class="row" *ngIf="_matrix">
  <div class="col-md-12">
    <h3>{{ _matrix.Name }} / {{ _matrix.Code }}</h3>
  </div>
  <div class="col-md-12" *ngIf="_matrix.ParamCategories.length > 0">
    <div class="card">
      <div class="card-header">
        <div class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</div>
      </div>
      <div class="card-block">
        <h4 class="card-title">Current Categories</h4>
        <app-param-category *ngFor="let category of _matrix.ParamCategories" [category]="category" [tables]="_tables"></app-param-category>
      </div>
      <div class="card-footer" *ngIf="_totalPercent == 100 && _newCategories.length > 0">
        <button type="button" class="btn btn-primary" (click)="saveCategories()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
      </div>
    </div>
  </div>
  <div class="col-md-12" [hidden]="false">
    <div class="card">
      <div class="card-block">
        <form (ngSubmit)="addCategory()" class="row" id="new-category-form">
          <div class="col-md-5">
            <div class="form-group">
              <label for="name">Name</label>
              <input [(ngModel)]="_newCategory.Name" type="text" name="name" id="new-category-name" class="form-control" placeholder="Category Name">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="english-name">English Name</label>
              <input [(ngModel)]="_newCategory.EnglishName" type="text" name="english-name" id="new-category-name" class="form-control"
                placeholder="English Category Name">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="weighting">Weighting</label>
              <input [(ngModel)]="_newCategory.Weighting" type="number" name="weighting" id="new-category-weighting" class="form-control">
            </div>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
