<div class="card  animated fadeIn">
  <div class="card-block">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="participant-type">Participant Type</label>
          <select class="form-control custom-select" name="participant-type" id="participant-type" [(ngModel)]="_type">
        <option disabled [value]="_default">--- Select Type ----</option>
        <option *ngFor="let type of _types" [ngValue]="type">{{ type.EnglishName}}</option>
      </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="_type" [ngSwitch]="_type.ID">
  <individual-form *ngSwitchCase=1></individual-form>
  <entity-form *ngSwitchCase=2></entity-form>
</div>
