<app-loading-modal *ngIf="!_matrix">
</app-loading-modal>
<div class="row" *ngIf="_matrix">
  <div class="col-md-12">
    <h3>{{ _matrix.Name }} / {{ _matrix.Code }}</h3>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Current Categories</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>English Name</th>
              <th>Weighting</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of _matrix.ParamCategories">
              <td>{{ category.Name }}</td>
              <td>{{ category.EnglishName }}</td>
              <td>{{ category.Weighting }} %</td>
              <td><i class="fa fa-lock fa-2x text-primary" aria-hidden="true"></i></td>
            </tr>
            <tr *ngFor="let newcat of _newCategories">
              <td>{{ newcat.Name }}</td>
              <td>{{ newcat.EnglishName }}</td>
              <td>{{ newcat.Weighting}}</td>
              <td><i class="fa fa-unlock-alt fa-2x text-danger" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ _totalPercent }} %</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer" *ngIf="_totalPercent == 100 && _newCategories.length > 0">
        <button type="button" class="btn btn-primary" (click)="saveCategories()"><i class="fa fa-save" aria-hidden="true"></i> Save</button>
      </div>
    </div>
  </div>
  <div class="col-md-12"[hidden]="false">
    <div class="card">
      <div class="card-block">
        <form (ngSubmit)="addCategory()" class="row" id="new-category-form">
          <div class="col-md-5">
            <div class="form-group">
              <label for="name">Name</label>
              <input [(ngModel)]="_newCategory.Name" type="text" name="name" id="new-category-name" class="form-control" placeholder="Category Name"
                aria-describedby="helpId">
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="english-name">English Name</label>
              <input [(ngModel)]="_newCategory.EnglishName" type="text" name="english-name" id="new-category-name" class="form-control"
                placeholder="English Category Name" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="weighting">Weighting</label>
              <input [(ngModel)]="_newCategory.Weighting" type="number" name="weighting" id="new-category-weighting" class="form-control" placeholder="" aria-describedby="helpId">
            </div>
          </div>
          <div class="col-md-1">
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
